{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
    <h2 style="text-align: center;">Project Pulse User Registration</h2>
    <form method="post" novalidate>
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <label for="id_{{ field.name }}">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <div class="invalid-feedback">
                        {% for error in field.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <div style="text-align: center;">
        <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </form>
{% endblock %}